<div>
    <div>
        <h3>Contacto</h3>
    </div>
    <div class="formData">
        <form class="row g-2 needs-validation" novalidate>
            <div class="row g-2">
                <div class="col-md">
                    <div class="col-md position-relative">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Sexo*</option>
                            <option value="1">Femenino</option>
                            <option value="2">Masculino</option>
                            <option value="2">No binario</option>
                        </select>
                        <div class="invalid-tooltip">
                            Please select a valid state.
                        </div>
                    </div>
                </div>
                <div class="col-md">
                  <div class="form-floating">
                    <div class = “container”>
                        <input type="text"  placeholder="Fecha de nacimiento*"
                        class="form-control" bsDatepicker><br>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row g-2">
                <div class="form-floating col-md mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Nombre*</label>
                </div>
                <div class="form-floating col-md mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Apellido*</label>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email*</label>
                <div class="invalid-tooltip">
                    por favor digite un correo valido.
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="av 8 #32 -40">
                <label for="floatingInput">Dirección*</label>
                <div class="invalid-tooltip">
                    por favor digite un correo valido.
                </div>
            </div>
            <div class="row g-2">
                <div class="form-floating col-md mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Casa 50">
                    <label for="floatingInput">Casa/apartamento</label>
                    
                </div>
                <div class="col-md position-relative">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>País</option>
                        <option value="1">Colombia</option>
                        <option value="2">Argentina</option>
                        <option value="2">México</option>
                    </select>
                    <div class="invalid-tooltip">
                        Please select a valid state.
                    </div>
                </div>
            </div>
            <div class="row g-2">

                <div class="col-md position-relative">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Departamento</option>
                        <option value="1">Bogotá D.C</option>
                        <option value="2">Antioquia</option>
                        <option value="2">Boyaca</option>
                    </select>
                    <div class="invalid-tooltip">
                        Please select a valid state.
                    </div>
                </div>
                <div class="col-md position-relative">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Ciudad</option>
                        <option value="1">Bogotá D.C</option>
                        <option value="2">Medellin</option>
                        <option value="2">Tunja</option>
                    </select>
                    <div class="invalid-tooltip">
                        Please select a valid state.
                    </div>
                </div>
            </div>
            
            <div class="mb-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Comentarios*" rows="3"></textarea>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Submit form</button>
            </div>
        </form>
    </div>
</div>    