body{
    align-items: center;
    font-size  : large;
}
h1{
    text-align: center;
    color     : white;
    margin    : 5%;
}
.container{
    width: 60%;
    
}
.formData{
    background-color: white;
}
.left{
    text-align: left;
    
}
.right{
    text-align: center;

} 