/* You can add global styles to this file, and also import other style files */
*{
   box-sizing: border-box;
   padding   : 0;
   margin    : 0;
}

html, body { 
    height: 100%; 
}
body { 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin     : 0;
    width      : 100vw;
	height     : 100vh;
    background-color: black;

}
.mat-form-field-label {
    color: rgba(24, 23, 23, 0.7);
}
.mat-form-field {
    border-top: .84375em solid #0000;
}
.mat-fab .mat-button-wrapper {
    padding: 0px 0 !important;
    display: inline-block;
    line-height: 0px;
}
#contenido.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: none !important;
}